absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
apptools==5.2.0
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0
cached-property==1.5.2
cachetools==4.2.4
cffi==1.15.0
charset-normalizer==2.0.12
configobj==5.0.6
cycler==0.11.0
decorator==4.4.2
defusedxml==0.7.1
descartes==1.1.0
docopt==0.6.2
drawnow==0.72.5
envisage==6.1.0
fire==0.4.0
frozenlist==1.2.0
future==0.18.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.44.0
imageio==2.15.0
imageio-ffmpeg==0.4.7
importlib-metadata==4.8.3
importlib-resources==5.4.0
iniconfig==1.1.1
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.0
jsonpickle==0.9.6
jsonschema==3.2.0
kiwisolver==1.3.1
Markdown==3.3.6
MarkupSafe==2.0.1
moviepy==1.0.3
multidict==5.2.0
munch==2.5.0
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.5
networkx==2.5.1
notebook==6.4.10
nuscenes-devkit==1.1.9
olefile==0.46
open3d-python
opencv-python
packaging==21.3
pandocfilters==1.5.0
parso==0.7.1
pickleshare==0.7.5
pluggy==1.0.0
prefetch-generator==1.0.1
proglog==0.1.10
prometheus-client==0.14.1
prompt-toolkit==3.0.29
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyface==7.4.2
Pygments==2.12.0
pykitti==0.3.0
pyparsing==3.0.8
pypng==0.20220715.0
pyquaternion==0.9.9
pyrsistent==0.18.0
pytest==7.0.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sacred==0.7.4
Send2Trash==1.8.0
Shapely==1.8.2
termcolor==1.1.0
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2020.9.3
tomli==1.2.3
torchvision
torch-tb-profiler
torchstat==0.0.7
tornado==6.1
traitlets==4.3.3
traits==6.4.1
traitsui==7.4.0
transforms3d==0.3.1
trimesh==3.9.9
typing_extensions
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.6.0
wrapt==1.14.0
wslink==1.8.2
yarl==1.7.2
zipp==3.6.0
mathutils
loguru
numpy
scikit-image
scikit-learn
pandas
tqdm
PyWavelets
matplotlib
tensorboard
tensorboard-plugin-wit
tensorboardX
torch==1.13.1